<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<a href="#">{{ username }}</a>
<hr>
我的年龄是{{ age }}
<hr>
我总共有{{ firends|length }}个朋友
<hr>
我的朋友是{{ firends }}
我的女朋友是{{ firends.1 }}
<hr>
{% for firend in firends %}
    <li>{{ forloop.counter }} {{ firend }}</li>
{% endfor %}
<hr>
{% if age > 10 %}
    大于10岁
{% else %}
    不大于10岁
{% endif %}
<hr>
{# 过滤器 变量|过滤器:参数 #}
我的生日是: {{ birthday|date:'Y年 m月 d日' }}
<hr>
我的简介是：{{ desc|safe }}
<hr>
没有定义的变量 {{ abcde|default:'我就是默认值' }}
<hr>

{# 单行注释 ctrl + / #}

{% comment %}
多行注释
{% endcomment %}
我第一年的月薪是{{ money.2019 }}
</body>
</html>